// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

main > .container-fluid {
  padding: 60px 15px 0;
}

.text-bg-link {
    background-color: #f1f1f1;
}

.text-bg-pdf {
    background-color: #d7d7d7;
}
